/*selector{
	property:value;
}*/


a {
	text-decoration-color: red;
}

  h1{
 	cursor:help;
 	font-size: 43px;
 	
 }


p{
	cursor:pointer;	
	font-size: 110%;
	font-family: 'Rubik', sans-serif;
    line-height: 25px;
    width:750px;
   
	
}

ul li{
	color: red ;
	cursor:no-drop;
	margin: 15px 0px 0px 0px;

}
img{
	float:left;
	transition: all 4s;
}

.fact{
	clear:both;
}

.help {

	border: 2px solid red ;
	padding:5px;
	
	
	
}




img:hover{
	transform: translate(20px,0px);
}

.bad:hover {
	color:red;
	text-decoration:underline ; 
	font-size: 2em;
 }
 body {
  margin: 0;
}
.nice {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #AFEEEE;
}

.fun a {
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
.fun a:hover {
  background-color: 	#00BFFF;
  color: white;
}
.fun {
  text-align: center;
  border-bottom: 1px solid black;
}